@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url(../media/IBMPlexMono-Regular.87bf9acd.ttf);
}
@font-face {
  font-family: "Titanone-Bold";
  src: url(../media/Chewy.ttf);
}

@font-face {
  font-family: "Titanone-Regular";
  src: url(../media/TitanOne-Regular.e7438f06.ttf);
}

@font-face {
  font-family: "doodle3";
  src: url(../media/DoodleRegular-1GqZj.ttf);
}

.cblue3 {
  color: #99e2ff;
  font-size: 35px;
}

.cgreen3 {
  color: #b3fec7;
  font-size: 35px;
}

.cgreen4 {
  color: grey;
  font-size: 35px;
}

.cpink3 {
  color: #fea4d4;
  font-size: 35px;
}

.cpurple3 {
  color: #c5c5ff;
  font-size: 35px;
}

.cblue {
  color: #99e2ff;
}

.cgreen {
  color: #b3fec7;
}

.cgreen2 {
  color: grey;
  font-size: 35px;
}
.cyellow3 {
  color: #ffe780;
  font-size: 35px;
}

.total {
  color: #f3ba2f;
  font-size: 35px;
}

.cpink {
  color: #fea4d4;
}

.cpurple {
  color: #c5c5ff;
}

.cpyellow,
.cyellow {
  color: #ffe780;
}

.clblue {
  color: #bbefff;
}

.form-title {
  font-size: 50px;
  line-height: 3.9rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #000;
  letter-spacing: 3px;
  word-break: break-all;
  -webkit-text-stroke: 2px #000000;
  align-content: center;
  text-align: center;
}
.form-title2 {
  font-size: 30px;
  line-height: 3.9rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #000;
  letter-spacing: 3px;
  word-break: break-all;
  -webkit-text-stroke: 2px #000000;
  align-content: center;
  text-align: center;
}


* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  /*background: url(../img/mbgedit.jpg);*/
 
}
 /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px) and (max-width: 1280px){
            body {
                background: url(../img/mbgedit.jpg);
                 background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
            }
        }
          
        /* Media Query for Large screens */
        @media (min-width: 1281px) {
            body {
                background: url(../img/mbgedit.jpg);
                 background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
            }
        }
        


input,
button,
textarea {
  font-family: "Chewy", cursive;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  margin: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
body {
  line-height: normal;
  font-size: 16px;
  font-family: "Comic Neue", "cursive";
  position: relative;
  overflow-x: hidden;
  font-weight: 400;
  font-family: Titanone-Bold;
  background-color: #9ae1ff;
}

.left-token {
  margin-top: 15px;
  color: #ffe780;
  font-size: 30px;
  -webkit-text-stroke: 1.5px #585252;
  letter-spacing: 1px;
}

.btn {
  border-radius: 10px;
  font-family: "Chewy", cursive;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  padding: 16px 52px;
  transition: all 0.4s ease 0s;
  font-size: 20px;
  color: black;
}
.btn_blue {
  background-color: rgb(180, 255, 198);
  color: black;
}
.btn_blue:hover {
  background-color: #6cb5ca;
}
.btn_pink {
  background-color: #b4ffc6;
  font-size: 30px;
}
a.btn {
  background-color: #b4ffc6;
  font-size: 40px;
  border-radius: 25px;
}
.btn_pink:hover {
  background-color: #6cb5ca;
}

.btn_form {
  border-radius: 3px;
  margin-left: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.title-site {
  font-family: Titanone-Bold;
  font-size: calc(24px + 30 * (100vw / 1920));
  text-transform: uppercase;
  color: #ffe67f;
  -webkit-text-stroke: 2px #222222;
  position: relative;
  line-height: 1.2em;
  font-size: 60px;
}
.title-site::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  -webkit-text-stroke: 0.00001em #222222;
}

.connect {
    font-size: 15px;
    font-weight: 500;
    background: #b4ffc6;
    color: black;
    border: none;
    outline: none;
    padding: 0.4rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.se-home {
  background: url(../img/loader.gif);
  background-size: cover;
  padding: 60px 0 250px 0;
  position: relative;
  overflow-y: hidden;
  background-repeat: repeat;
  
}

.se-home__left {
  max-width: 650px;
}
.se-home__right {
  width: 556px;
  height: 665px;
  position: absolute;
  bottom: 68.6px;
  left: 57%;
}
.se-home__right img {
  width: 100%;
  height: 100%;
}

.thought {
  position: relative;
  box-shadow: 5px 9px 30px rgba(255, 255, 255, 0.25);
}
.thought_home {
  border-radius: 60px 60px 60px 60px;
  background-color: #f6f6f6d4;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  width: 676px;
  max-width: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

.thought_faqs {
  background-color: #defcff;
  width: 650px;
  padding: 55px 20px 55px 20px;
  border-radius: 0 25px 25px 25px;
  margin: 40px 0 0 0;
  margin-left: 70px;
}
.thought_faqs::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 48px solid #defcff;
  border-left: 64px solid transparent;
  position: absolute;
  left: -63px;
  top: 0;
}

.title-type-etn {
  font-family: "Permanent Marker", "cursive";
  font-size: calc(18px + 20 * (100vw / 1920));
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 0.24em #222222;
  position: relative;
}
.title-type-etn::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  -webkit-text-stroke: 0.00001em #222222;
}

.text-maxim {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5px;
}

.thought-form {
  margin: 18px auto 0 auto;
  max-width: 488px;
}

.in-site {
  flex: 1 1 auto;
  background-color: #ffd4e7;
  border-radius: 3px;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 700;
  color: #222222;
  height: 77px;
  border-radius: 25px;
}

.text-info-pleace {
  margin-top: 28px;
}

.se-who {
  background: url(../img/laps-who.png) 12% 48%/150px no-repeat,
    url(../img/bg-gradient-who.png) center/cover no-repeat;
  margin: -140px 0 0 0;
  padding: 170px 0 170px 0;
}

.who-left {
  width: 45%;
}
.who-left__img {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: #a99bf6;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background: #b4ffc7;
  overflow: hidden;
}
.who-left__img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.who-right {
  width: 55%;
  padding-left: 5%;
  padding-top: 60px;
}

.text-dood {
  margin: 30px 0 0 0;
  max-width: 455px;
  font-family: "Permanent Marker", "cursive";
  font-size: 18px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: IBMPlexMono-Regular;
  line-height: 26px;
}

p {
  text-transform: uppercase;
  font-weight: 600;
  font-family: IBMPlexMono-Regular;
  line-height: 26px;
}

.text-ins {
  margin: 25px 0 0 0;
  color: #000000;
  font-weight: 700;
  line-height: 1.2em;
}
.text-ins p:not(:first-child) {
  margin-top: 30px;
}

.roadmap {
  margin: 55px 0 0 0;
}

.sub-title {
  font-size: 18px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-family: "Permanent Marker", "cursive";
  margin: 15px 0 0 0;
}

.cards {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 calc(25% - 30px);
  margin: 30px 15px 0 15px;
  padding: 38px 30px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.card__percent {
  font-family: Titanone-Bold;
  font-size: 42px;
  text-transform: uppercase;
}
.card__text {
  margin: 2px 0 0 0;
  font-size: 20px;
  font-weight: 700;
  color: #3e3e3e;
  font-family: IBMPlexMono-Regular;
}
center {
  text-transform: uppercase;
  font-weight: 600;
  font-family: IBMPlexMono-Regular;
  line-height: 26px;
}
.card_pink {
  background-color: #fdd6ec;
}
.card_pink .card__percent {
  color: #fe7cc6;
}
.card_green {
  background-color: #ddfee5;
}
.card_green .card__percent {
  color: #81fca0;
}
.card_blue {
  background-color: #ddf4fe;
}
.card_blue .card__percent {
  color: #78d4fa;
}
.card_orange {
  background-color: #fdf2d1;
}
.card_orange .card__percent {
  color: #fcab75;
}

.faqs {
  background: url(../img/bg-fqqs.png) top/cover no-repeat;
  position: relative;
  margin-top: -150px;
  padding-top: 7%;
}
.faqs__row {
  display: flex;
}
.faqs__ape {
  margin-left: -7%;
}

.title-type-three {
  font-family: "Permanent Marker", "cursive";
  color: #3e3e3e;
  font-size: 39px;
  text-transform: uppercase;
}

.sub-title-three {
  font-size: 22px;
  color: #3e3e3e;
  font-weight: 700;
  margin: 10px 0 0 0;
}

.bnt-faqs {
  display: flex;
  justify-content: center;
  margin: 22px 0 0 0;
}

.faqs-cont {
  padding-top: 10%;
}
.faqs-cont__title {
  margin-left: 70px;
}

.dape {
  padding: 50px 0 50px 0;
}
.dape__row {
  flex-wrap: wrap;
  margin: 45px -20px 0 -20px;
}

.dape-card {
  flex: 0 1 calc(25% - 40px);
  margin: 0 20px 0 20px;
  margin-left: auto;
  margin-right: auto;
}
.dape-card__image {
  width: 100%;
  border-radius: 35%;
  padding-bottom: 93.7%;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.25);
  border: 8px solid #ffffff;
  position: relative;
  overflow: hidden;
}
.dape-card__image img {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}
.dape-card__content {
  text-align: center;
  margin: 20px 0 0 0;
  font-family: "Permanent Marker", "cursive";
}
.dape-card__name {
  font-size: 24px;
}
.dape-card__vacancy {
  margin: 1px 0 0 0;
  font-size: 18px;
  color: #ded9fb;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.body-fixed {
  position: fixed;
}

.text-center {
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header__row {
  display: flex;
  align-items: center;
  padding: 21px 0;
}
.header__messagers {
  margin-left: auto;
}

.messager-item {
  font-family: "IBMPlexMono-Regular";
  font-weight: 600;
  color: #000000;
  margin-right: 43px;
  display: flex;
  align-items: center;
  transition: all 0.4s ease 0s;
}

.discord-icon,
.twiter-icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s ease 0s;
}

.twiter-icon {
  width: 26px;
  height: 22px;
  margin-right: 8px;
  background-image: url(../img/icons/twitter.png);
}

.discord-icon {
  width: 31px;
  height: 21px;
  margin-right: 11px;
  background-image: url(../img/icons/discord.png);
}

.messager-item:hover {
  color: #ffffff;
}
.messager-item:hover .twiter-icon {
  background-image: url(../img/icons/twitter-hover.png);
}
.messager-item:hover .discord-icon {
  background-image: url(../img/icons/discord-hover.png);
}

input.error,
textarea.error {
  border-color: red;
}

.footer {
  background: url(../img/footer.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0 250px 0;
  position: relative;
  overflow-y: hidden;
  padding: 58px 0;
  background-color: #4b58a8;
}
.footer__row {
  align-items: center;
}
.footer__messagers {
  margin-left: auto;
}

.mes-fot-item {
  font-family: "Permanent Marker", "cursive";
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 63px;
  transition: all 0.4s ease 0s;
}
.mes-fot-item i {
  display: none;
}
.mes-fot-item:hover {
  color: #fe7cc6;
}
.mes-fot-item:hover .twiter-icon {
  background-image: url(../img/icons/twitter-hover.png);
}
.mes-fot-item:hover .discord-icon {
  background-image: url(../img/icons/discord-hover.png);
}

@media (max-width: 1850px) {
  .se-home__right {
    left: 57.2%;
    bottom: 65.7px;
  }
}
@media (max-width: 1799px) {
  .se-home__right {
    left: 57.6%;
    bottom: 65px;
  }
}
@media (max-width: 1699px) {
  .se-home__right {
    left: 58%;
    bottom: 61px;
  }
}
@media (max-width: 1599px) {
  .se-home__right {
    left: 58.6%;
    bottom: 59px;
  }
}
@media (max-width: 1480px) {
  .se-home__right {
    left: 59%;
  }
}
@media (max-width: 1450px) {
  .se-home__right {
    left: 60.3%;
    width: 540px;
    height: 600px;
    bottom: 59.6px;
  }
}
@media (max-width: 1400px) {
  .se-home__right {
    left: 62.9%;
    width: 480px;
    height: 540px;
    bottom: 68.6px;
  }

  .se-home {
    background-size: cover;
  }
}
@media (max-width: 1350px) {
  .se-home__right {
    left: 63.3%;
    bottom: 66.6px;
  }
}
@media (max-width: 1300px) {
  .se-home__right {
    left: 63.5%;
    bottom: 66.9px;
  }
}
@media (max-width: 1199px) {
  .se-home__right {
    left: 60.8%;
    bottom: 50.6px;
  }

  .se-home {
    padding-top: 150px;
  }
}
@media (max-width: 1130px) {
  .thought_home {
    border-radius: 25px;
  }
  .thought_home::before {
    display: none;
  }

  .se-home__right {
    left: 60.5%;
    bottom: 49.6px;
  }
}
@media (max-width: 1100px) {
  .faqs-cont {
    padding-top: 0;
    margin-top: -20px;
  }
}
@media (max-width: 1060px) {
  .se-home__right {
    left: 64.5%;
    width: 420px;
    height: 480px;
    bottom: 57.6px;
  }
}
@media (max-width: 1023px) {
  /**/
}
@media (max-width: 991px) {
  .header {
    padding: 70px 0 20px 0;
    border: none;
    position: relative;
  }
  .header__logo {
    max-width: 320px;
    order: 2;
    margin: 25px 0 0 0;
  }
  .header__row {
    flex-direction: column;
    align-items: center;
  }
  .header__messagers {
    margin: 0 auto;
    order: 1;
  }
  .header__btn {
    margin: 25px 0 0 0;
    order: 3;
  }

  .bnt-size {
    font-size: 14px;
  }

  .messager-item:last-child {
    margin-right: 0;
  }

  .se-home {
    padding-top: 0;
  }

  .se-home__right {
    display: none;
  }

  .se-home__left {
    max-width: 100%;
    height: 100%;
  }

  .frontgif img {
    width: 60%;
    margin: auto;
    display: block;
  }

  .header__row {
    padding-bottom: 10px;
  }

  .thought_home {
    padding: 30px 20px;
  }

  .text-maxim {
    font-size: 12px;
  }

  .se-home {
    padding-bottom: 80px;
  }

  .card__percent {
    font-size: 30px;
  }

  .card__text {
    font-size: 14px;
  }

  .faqs {
    padding-bottom: 35px;
  }

  .faqs__ape {
    display: none;
  }

  .faqs-cont {
    padding-top: 4%;
    margin: 0;
  }

  .thought_faqs::before {
    display: none;
  }

  .thought_faqs,
  .faqs-cont__title {
    margin-left: 0;
  }

  .thought_faqs {
    width: auto;
    margin-top: 20px;
    border-radius: 25px;
  }

  .faqs-cont {
    width: 100%;
  }

  .mes-fot-item {
    font-size: 0;
  }
  .mes-fot-item i {
    display: block;
  }

  .footer__row {
    flex-direction: column;
    align-items: center;
  }

  .mes-fot-item:last-child {
    margin: 0;
  }

  .footer__messagers {
    margin: 40px 0;
  }

  .footer__logo {
    max-width: 320px;
  }

  .footer {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  .title-site {
    font-size: calc(24px + (30 + 30 * 0.7) * ((100vw - 320px) / 1920));
  }

  .title-type-etn {
    font-size: calc(18px + (20 + 20 * 0.7) * ((100vw - 320px) / 1920));
  }

  .form-row {
    flex-direction: column;
  }

  .btn_form {
    margin: 24px auto 0 auto;
  }

  .card {
    flex: 0 1 calc(50% - 30px);
  }

  .faqs-cont {
    padding-top: 5%;
  }

  .title-type-three {
    font-size: 18px;
  }

  .sub-title-three {
    font-size: 14px;
  }

  .thought_faqs {
    padding: 30px;
    width: 100%;
  }

  .dape-card {
    flex: 0 1 calc(50% - 36px);
    margin: 30px 18px 0 18px;
  }

  .dape__row {
    margin-left: -18px;
    margin-right: -18px;
    margin-top: 0;
  }

  .dape-card__name {
    font-size: 16px;
  }

  .dape-card__vacancy {
    font-size: 14px;
  }

  .dape-card__image {
    padding-bottom: 90.7%;
    border-width: 4px;
  }
}
@media (max-width: 650px) {
  .se-who__row {
    flex-direction: column-reverse;
  }

  .who-left,
  .who-right {
    width: 100%;
  }

  .who-left {
    margin-top: 27px;
  }

  .who-right {
    padding: 0;
  }

  .se-hometitle {
    text-align: center;
  }

  .card__text {
    font-size: 13px;
  }

  .sub-title {
    font-size: 14px;
  }

  .dape {
    padding: 35px 0;
  }
}
@media (max-width: 479px) {
  .messager-item {
    font-size: 0;
  }

  .twiter-icon {
    width: 35px;
    height: 29px;
  }

  .discord-icon {
    width: 41px;
    height: 27px;
  }

  .text-dood {
    font-size: 14px;
  }

  .card {
    flex: 0 1 calc(100% - 30px);
    margin-top: 20px;
    border-radius: 10px;
  }

  .faqs-cont {
    padding-top: 10%;
    width: 100%;
  }

  .thought_faqs,
  .thought_home {
    border-radius: 10px;
  }

  .btn {
    font-size: 14px;
  }

  .thought_faqs {
    padding: 30px 20px;
  }

  .btn {
    padding: 12px 30px;
  }
}
@media (max-width: 359px) {
  .dape-card__image {
    padding-bottom: 88.7%;
  }
}